.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: scroll;
  position: relative;
  padding: 0px;
}

.headerImage {
  width: 100%;
}

.name {
  background-image: url("../../resources/IMG_1568.JPG");
  font-size: 5rem;
  height: 1000px;
  min-width: 100%;
}