.mainSideBarDiv {
  height: 100vh;
  background-color: rgb(145, 145, 145, 0.64);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.4s ease-in-out; 
  flex-direction: column;
}

.expandIcon {
  color: rgb(255, 255, 255);
}

.center {
  align-self: flex-end;
  transition: 400ms;
}

.center:hover {
  background-color: aliceblue;
  align-self: center;
}