.mainAppContainer {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: none;
}

.mainContent {
  width: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: "Title";
  src: url("./resources/fonts/1942.ttf");
}

@font-face {
  font-family: "atWritter";
  src: url("./resources/fonts/atwriter.ttf");
}